body {
    background-image: url(assets/background3.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

.hero img {
    margin: 0;
    display: block;
    padding: 1rem
}

.hero{
    height: calc(100vh - 3.5rem);
}

.content-bg {
    background-color: antiquewhite;
}

.content {
    padding-top: 1rem;
    color: dimgrey;
    margin: 0;
}

.content p {
    margin: 0;
    font-size: 1.3rem;
}
.content img {
    padding: .5rem 0;
    display: block;
    margin: auto;    
}

.mapcontainer {
    margin: auto;
  
}
.map {
    height: 30rem;
    width: 40rem;
    padding: 3rem;
    max-width: 100%;
}

.contact {
    margin: auto;
    text-align: center;
}
.fa-facebook-square {
    color: #3B5998;
}

/* ########### Footer ############*/
.btm-logo img {
    margin: auto;
    padding: 3px 10px;
}

.footer-text {
    text-align: right;
    padding: 3rem 2rem 0;
    font-size: .75rem;
    color: antiquewhite;
}



